<%- include('resources/load-standard-resources.ejs') %>
<head>

	<title>Map</title>

	<style type="text/css">
		.btn-tools {
			background: #879baa;
			color: #fff;
			border: 1px solid #becdd7;
			border-right: none;
		}

		td:hover {
			background: #ffffff;
		}

		img.tip {
			border-bottom: 1px dashed;
			text-decoration: none
		}
		img.tip:hover {
			cursor: help;
			position: relative
		}
		img.tip span {
			display: none
		}
		img.tip:hover span {
			border: #c0c0c0 1px dotted;
			padding: 5px 20px 5px 5px;
			display: block;
			z-index: 100;
			background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
			left: 0px;
			margin: 10px;
			width: 250px;
			position: absolute;
			top: 10px;
			text-decoration: none
		}

	</style>

</head>
<body>
	<div id="header" style="width: 100%; background: #fff">
	    <div id="headerContent">
	        <div class="pull-left"><i class="fas fa-dashboard"></i></div>
	    </div>
	</div>
	
	<aside class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default" data-toggle="collapse" style="display: flex">
			<<div class="navbar-header" style="color: #fff">
		        <a class="navbar-brand" href="./"><img src="media/sie-logo-claim-white-rgb.png" alt="Logo"></a><br>
		        <a href="/" style="color: #fff"><h3> Hackathon App </h3></a>
		    </div>
		</nav>
	</aside>
	
	<aside class="right-panel">
		<header class="header">
			<div class="header-menu">
				<h3> Hackathon Visualization App</h3>
			</div>
		</header>

		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row float pull-right" style="padding-right:40px">
        			<div class="table">
        				<tr>
        					<td><button class="btn btn-tools" id="mouseHover"><i class="fas fa-mouse-pointer"> Hover</i></button></td>
        					<td><button class="btn btn-tools" id="addDevice"><i class="fas fa-plus"> Add</i></button></td>
							<td><button class="btn btn-tools" id="deleteDevice"><i class="fas fa-trash"> Delete</i></button></td>
							<td><button class="btn btn-tools" id="moveDevice"><i class="fas fa-hand-paper"> Move</i></button></td>
							<td><button class="btn btn-tools" id="setOrigin"><i class="fas fa-circle"> Origin</i></button></td>
						</tr>
					</div>
				</div>


				<div class="col-sm-12">
					<div id="image">
						<img id="map" src="/media/plan.png" style="position: absolute;">
					</div>
				</div>

				<div class="col-lg-4">
					<div class="card" style="border: 1px solid #374b5a;">
						<div class="card-header" style="text-align: center; background: #fff;">
							<h3> Available Devices </h3>
						</div>
						<div class="card-body" id="deviceStore" style="position: fixed;">
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="addDeviceModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-sm" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <div class="pull-left">
		                    <h4 class="modal-title" id="exampleModalLabel">Add New Device</h4>
		                </div>
		                <div class="pull-right">
		                    <button type="button" id="closeBtn" aria-label="Close"><i class="fa fa-times"></i></button>
		                </div>
		            </div>
		            <div class="modal-body" style="padding-left: 20px;">
		            	<form id="addDevice" action="#" class="form-horizontal"> 
							<div class="form-group" style="width: 90%;">
	                            <label for="type" class="form-control-label">Device Type</label>
	                            <select name="deviceType" id="type" class="form-control">
	                            	<% for (let i in deviceList) { %>
	                            		<option deviceName ='<%= deviceList[i].name %>' deviceType=<%= deviceList[i].type %> ><%= deviceList[i].name %> (<%= deviceList[i].type %>)</option>
	                            	<% } %>
								</select>
								
							</div>
							
						</form>
		            </div>
		            <div class="modal-footer">
		            	<button class="btn btn-success" id="submit">Submit</button>
		            </div>
		        </div>
		    </div>
		</div>

	</aside>
</body>
</html>
<script type="text/javascript">
	var deviceStore = document.getElementById('deviceStore');
	var currBtn = mouseHover;

	var deviceList = JSON.parse('<%- JSON.stringify(deviceList) %>');
	// window.onload = function() {
	// 	var img = new Image();
	// 	var width;
	// 	var height;
	// 	img.onload = function() {
	// 		width = this.width/10;
	// 		height = this.height/10;

	// 		for (let i=0; i<height; i++) {
	// 			var table = document.getElementById('grid');
	// 			table.setAttribute('style', 'width=' + this.width/100 + 'px; height=' + this.height/100 + 'px');
	// 			var row = table.insertRow(i);

	// 			for (let j=0; j<width; j++) {
	// 				var cell = row.insertCell(j);
	// 				cell.setAttribute('name', 'cells');
	// 				cell.setAttribute("bgColor", "transparent");
	// 				cell.setAttribute("onmouseover", "this.bgColor='yellow'");
	// 				cell.setAttribute("onmouseout", "this.bgColor='transparent'")
	// 				cell.id = j + ', ' + i;
	// 			}

	// 		}
	// 	}
	// 	img.src = '/media/plan.png';

	// }

	var assetPositions = {};

	$(window).resize(function(){
		$('img[name="deviceImages"').each(function(){
			console.log($(this)[0].id)
			const offset = {
				left:assetPositions[$(this)[0].id].x*$('#map').width() + $('#map')[0].x,
				top: assetPositions[$(this)[0].id].y*$('#map').height() + $('#map')[0].y
			}
			$(this).offset({ top: offset.top, left: offset.left});
		})
		
	})


	//Create a System for Scaling Factors
	function coordinateConvert(x,y){
		let globalCoordinates = $('#map')[0].x;
		const global = {
			x: $('#map')[0].x,
			y: $('#map')[0].y
		}
		const relative = {
			x:Math.floor((x-global.x)/$('#map').width()*1e5)/1e5,
			y:Math.floor((y-global.y)/$('#map').height()*1e5)/1e5,
		}
		return relative;
	}

	
	$('#mouseHover', '#addDevice', '#deleteDevice', '#moveDevice', '#setOrigin').on('click', function() {
		currBtn = this.id;
	})

	var modal = document.getElementById('addDeviceModal');
	$("#addDevice").on('click', function() {
		modal.style.display = 'block';
	})

	$('#closeBtn').on('click', function() {
		modal.style.display = 'none';
	})

	$('#submit').on('click', function() {
		console.log($(this))
		// INSERT AJAX CALL HERE
		modal.style.display = 'none';
		var device = document.createElement('IMG');
		
		
		const deviceName = $('select#type option:selected')[0].attributes['deviceName'].value;
		const deviceType = $('select#type option:selected')[0].attributes['deviceType'].value;
		console.log(deviceType)
		console.log(deviceName,deviceType)

		device.src = `/media/${deviceType}.png`;
		device.style.height = '75px';
		device.style.width = '75px';
		device.setAttribute("name", "deviceImages")
		device.setAttribute("title",JSON.stringify(deviceList.filter(x => x.name == deviceName)))
		device.setAttribute("id", deviceName);
		device.setAttribute("deviceType", deviceType);
		device.setAttribute("deviceName", deviceName);
		device.style.position = 'fixed';
		device.style.cursor = '-webkit-grab';
		device.style.cursor = 'grab';
		dragElement(device);
		console.log(device);
		deviceStore.appendChild(device);

	})

	$('#deleteDevice').on('click', function() {
		var devices = document.getElementsByName('deviceImages');

		for (let i in devices) {
			devices[i].onmouseover = function() {
				devices[i].style.cursor = 'pointer';
			}

			devices[i].onclick = function() {
				var parent = document.getElementById("deviceStore");
				parent.removeChild(devices[i]);
			}
		}
	})

	$('#mouseHover').on('click', function() {
		var devices = document.getElementsByName('deviceImages');

		for (let i in devices) {
			devices[i].onmouseover = function() {
				devices[i].style.cursor = 'help';
			}

			devices[i].onclick = function() {
				alert(devices[i].id + ' ' + devices[i].value);
			}
		}
	})

	function dragElement(elmnt) {
	  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
	  if (document.getElementById(elmnt.id + "header")) {
	    /* if present, the header is where you move the DIV from:*/
	    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
	  } else {
	    /* otherwise, move the DIV from anywhere inside the DIV:*/
	    elmnt.onmousedown = dragMouseDown;
	  }


	  function dragMouseDown(e) {
	  	elmnt.style.cursor = '-webkit-grabbing';
	  	elmnt.style.cursor = '-grabbing';
	    e = e || window.event;
	    e.preventDefault();
	    // get the mouse cursor position at startup:
	    pos3 = e.clientX;
		pos4 = e.clientY;
	    document.onmouseup = closeDragElement;
	    // call a function whenever the cursor moves:
	    document.onmousemove = elementDrag;
	  }

	  function elementDrag(e) {
		e = e || window.event;
	    e.preventDefault();
	    // calculate the new cursor position:
	    pos1 = pos3 - e.clientX;
	    pos2 = pos4 - e.clientY;
	    pos3 = e.clientX;
		pos4 = e.clientY;
		
		e.value = pos1 + ' ' + pos2 + ' ' + pos3 + ' ' + pos3;
	    // set the element's new position:
	    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
		elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
		const imgOffset = $($(e)[0].target).offset();
		const newCoordinates = coordinateConvert(imgOffset.left,imgOffset.top);
		const assetName = $(e)[0].target.id
		assetPositions[assetName] = {
			x: newCoordinates.x,
			y: newCoordinates.y
		}
	  }

	  function closeDragElement() {
	  	elmnt.style.cursor = '-webkit-grab';
	  	elmnt.style.cursor = '-grab';
	    /* stop moving when mouse button is released:*/
	    document.onmouseup = null;
	    document.onmousemove = null;
	  }
	}

</script>