<%- include('resources/load-standard-resources.ejs') %>
<head>

	<title>Map</title>

	<style type="text/css">
		.btn-tools {
			background: #879baa;
			color: #fff;
			border: 1px solid #becdd7;
			border-right: none;
		}

		.chartwrapper {
		  height: 100%;
		  position: relative;
		  /*overflow: hidden;*/
		  padding-bottom: 70%;
		}

		.chartdiv {
		  position: absolute;
		  width: 100%;
		  height: 100%;
		}

		a span {display: none; position: absolute; color: #fff; background: #000; padding: 5px;}
a {position: relative;}
a:hover span {display: block; text-align: center;}

	</style>

</head>
<body>
	<div id="header" style="width: 100%; background: #fff">
	    <div id="headerContent">
	        <div class="pull-left"><i class="fas fa-dashboard"></i></div>
	    </div>
	</div>
	
	<aside class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default" data-toggle="collapse" style="display: flex">
			<<div class="navbar-header" style="color: #fff">
		        <a class="navbar-brand" href="./"><img src="media/sie-logo-claim-white-rgb.png" alt="Logo"></a><br>
		        <a href="/" style="color: #fff"><h3> Hackathon App </h3></a>
		    </div>
		</nav>
	</aside>
	
	<aside class="right-panel">
		<header class="header">
			<div class="header-menu">
				<h3> Hackathon Visualization App</h3>
			</div>
		</header>

		<div class="content mt-3">
			<div class="animated fadeIn">
				<br>
				<div class="sufee-alert alert with-close alert-primary alert-dismissible fade show" id="alert" style="display: none">
		            <span class="badge badge-pill badge-primary">Notice</span>
		                Origin is Set
		              <button type="button" class="close" id="closeAlert">
		                <span aria-hidden="true">&times;</span>
		            </button>
		        </div>
		        <div class="sufee-alert alert with-close alert-primary alert-dismissible fade show" id="alert2" style="display: none">
		            <span class="badge badge-pill badge-secondary">Warning</span>
		                Origin is not set; set before placing element!
		              <button type="button" class="close" id="closeAlert2">
		                <span aria-hidden="true">&times;</span>
		            </button>
		        </div>
				<div class="row">
					<div class="col-md-8" style="height: 100%;">
                        <div class="card">
                            <div class="card-header user-header alt bg-dark" style="background: #506473; height: 50px;">
                            	<div class="float-left">
                            		<h3> Device Map </h3>
                            	</div>
                                <div class="float-right">
									<ul>
										<button class="btn btn-secondary" id="setOrigin"><i class="fas fa-circle"> Origin</i></button>
										<button class="btn btn-secondary" id="mouseHover"><i class="fas fa-mouse-pointer"> Hover</i></button>
	        							<button class="btn btn-secondary" id="addDevice"><i class="fas fa-plus"> Add</i></button>
										<button class="btn btn-secondary" id="deleteDevice"><i class="fas fa-trash"> Delete</i></button>
									</ul>
								</div>
							</div>
							<div class="card-body" style="display: block;">
								<div class="chartwrapper" id="wrapper">
									<table class="table" style="position: absolute;">
										<td><tr></tr></td>
									</table>
									<img src="/media/plan.png" class="chartdiv" id='image' style="position: absolute;">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4" style="height: 100%;">
                        <div class="card">
                            <div class="card-header user-header alt bg-dark" style="background: #506473; height: 50px;">
                                <h3> Device Store </h3>
							</div>
							<div id="deviceStore"></div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="addDeviceModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-sm" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <div class="pull-left">
		                    <h4 class="modal-title" id="exampleModalLabel">Add New Device</h4>
		                </div>
		                <div class="pull-right">
		                    <button type="button" id="closeBtn" aria-label="Close"><i class="fa fa-times"></i></button>
		                </div>
		            </div>
		            <div class="modal-body" style="padding-left: 20px;">
		            	<form id="addDevice" action="#" class="form-horizontal">
							<div class="form-group" style="width: 90%;">
								<label for="name" class="form-control-label">Device Name</label>
	                            <select name="deviceName" id="name" class="form-control">
	                            	<% for (let i in devices) { %>
	                            		<option value=<%= devices[i] %>><%= devices[i] %> (<%= devices[i] %>)</option>
	                            	<% } %>
								</select>
							</div>
							<div class="form-group" style="width: 90%;">
	                            <label for="type" class="form-control-label">Device Type</label>
	                            <select name="deviceType" id="type" class="form-control">
	                            	<% for (let i in deviceList) { %>
	                            		<option value=<%= deviceList[i].type %>><%= deviceList[i].name %> (<%= deviceList[i].type %>)</option>
	                            	<% } %>
								</select>
								
							</div>
							
						</form>
		            </div>
		            <div class="modal-footer">
		            	<button class="btn btn-success" id="submit">Submit</button>
		            </div>
		        </div>
		    </div>
		</div>

	</aside>
</body>
</html>
<script type="text/javascript">
	var deviceStore = document.getElementById('deviceStore');
	var currBtn = mouseHover;
	var originX = 0;
	var originY = 0;
	
	$('#mouseHover', '#addDevice', '#deleteDevice', '#moveDevice', '#setOrigin').on('click', function() {
		currBtn = this.id;
	})

	var modal = document.getElementById('addDeviceModal');
	$("#addDevice").on('click', function() {
		modal.style.display = 'block';
	})

	$('#closeBtn').on('click', function() {
		modal.style.display = 'none';
	})

	$('#submit').on('click', function() {
		// INSERT AJAX CALL HERE
		modal.style.display = 'none';
		var device = document.createElement('IMG');

		// FILTER BY IMAGE HERE - I HAVE THEM ALL LOADED
		console.log($('#type').val());
		device.src = '/media/' + $('#type').val() + '.png';

		device.style.height = '50px';
		device.style.width = '50px';
		device.setAttribute("name", "deviceImages")
		device.setAttribute("id", $('#type').val());
		device.style.position = 'fixed';
		device.style.cursor = '-webkit-grab';
		device.style.cursor = 'grab';
		device.setAttribute('data-toggle', 'tooltip');
		device.setAttribute('data-placement', 'top');
		dragElement(device);
		deviceStore.appendChild(device);

	})

	$('#deleteDevice').on('click', function() {
		var devices = document.getElementsByName('deviceImages');

		for (let i in devices) {
			devices[i].onmouseover = function() {
				devices[i].style.cursor = 'pointer';
			}

			devices[i].onclick = function() {
				var parent = document.getElementById("deviceStore");
				parent.removeChild(devices[i]);
			}
		}
	})

	$('#mouseHover').on('click', function() {
		var devices = document.getElementsByName('deviceImages');

		for (let i in devices) {
			devices[i].onmouseover = function() {
				devices[i].style.cursor = 'help';
			}

			devices[i].onmouseover = function() {
				devices[i].style.height = '100px';
	  			devices[i].style.width = '100px';
	  			$('[data-toggle="tooltip"]').tooltip();
			}

			devices[i].onmouseout = function() {
				devices[i].style.height = '20px';
	  			devices[i].style.width = '20px';
			}
		}
	})

	$('#setOrigin').on('click', function(e) {
		document.body.style.cursor = 'pointer';
		currBtn = 'setOrigin';
	})

	$('#image').on('click', function(e) {
		if (currBtn == 'setOrigin') {
			var d = document.createElement('DIV');
			originX = e.pageX - $('#image').offset().left;
			originY = e.pageY - $('#image').offset().top;
			var alert = document.getElementById('alert');
			alert.style.display = "block";
		}
	})

	$("#closeAlert").on('click', function() {
		var alert = document.getElementById('alert');
		alert.style.display = "none";
	}) 

	$("#closeAlert2").on('click', function() {
		var alert = document.getElementById('alert2');
		alert.style.display = "none";
	}) 

	function dragElement(elmnt) {
	  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
	  if (document.getElementById(elmnt.id + "header")) {
	    /* if present, the header is where you move the DIV from:*/
	    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
	  } else {
	    /* otherwise, move the DIV from anywhere inside the DIV:*/
	    elmnt.onmousedown = dragMouseDown;
	  }


	  function dragMouseDown(e) {
	  	elmnt.style.cursor = '-webkit-grabbing';
	  	elmnt.style.cursor = '-grabbing';
	    e = e || window.event;
	    e.preventDefault();
	    // get the mouse cursor position at startup:
	    pos3 = e.clientX;
	    pos4 = e.clientY;
	    document.onmouseup = closeDragElement;
	    // call a function whenever the cursor moves:
	    document.onmousemove = elementDrag;
	  }

	  function elementDrag(e) {
	    e = e || window.event;
	    e.preventDefault();
	    // calculate the new cursor position:
	    pos1 = pos3 - e.clientX;
	    pos2 = pos4 - e.clientY;
	    pos3 = e.clientX;
	    pos4 = e.clientY;
		e.value = pos1 + ' ' + pos2 + ' ' + pos3 + ' ' + pos3;
	    // set the element's new position:
	    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
	    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
	  }

	  function closeDragElement() {
	  	if (originX == 0 && originY == 0) {
	  		var parent = document.getElementById("deviceStore");
			parent.removeChild(elmnt);
			var alert = document.getElementById('alert2');
			alert.style.display = "block";
	  	} else {
	  		elmnt.value = originX + ', ' + originY;
	  		elmnt.setAttribute('title', 'Name: ' + elmnt.id + '\nLocation: ' + originX + ', ' + originY);
	  	}

	  	elmnt.style.height = '20px';
	  	elmnt.style.width = '20px';
	  	
	  	elmnt.style.cursor = '-webkit-grab';
	  	elmnt.style.cursor = '-grab';
	    /* stop moving when mouse button is released:*/
	    document.onmouseup = null;
	    document.onmousemove = null;
	  }
	}

</script>